ipdb
numpy
torch
sklearn
matplotlib
open3d==0.10.0.0
wandb==0.9.6
hydra-core==1.0.0
hydra-submitit-launcher
slurm_gpustat
torchvision
torchsummary
scikit-fmm
scikit-image
gym
psutil
pytest
jupyterlab
ipykernel
